<li>
	{{burger_name}}
	<section>
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button></section>
</li>
